@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

@mixin clearfix {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

// Responsive breakpoints
// SOurce: https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862#.h6o82doyc

// Please note the variables used in below mixins are available
// in config/susy_boot.scss file instead of regular config/_variables.scss

@mixin for-phone-only {
  @media (max-width: $phone-only) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: $tablet-portrait-up) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: $tablet-landscape-up) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: $desktop-up) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: $big-desktop-up) { @content; }
}