
$background-color: darken(#34383B, 10%);
$border-color: #dedede;

$primary-color: #dedede;
$accent-color: #A1A783;
$text-color: #34383B;
$link-color:  #565656;

$default-margin: 2rem;
$default-padding: 2rem;

$header-height: 8rem;

// Navigation menu
$toggle-breakpoint: 37.5em; // use any units { em, rem or px }