
// Color Pallete Codes
// $c_    Color
// $cd_   Color for dark background
// $cl_   Color for light background

$cd_background: darken(#34383B, 10%);

$cd_accent: #A1A783;
$cl_accent: #A1A783;


$cl_text: #34383B; // Body color
$cd_text: #fff;

$cd_text2: #A1A1A1;
$cl_text2: #A1A1A1;

$c_alt_bg: #EAEAEA;
$header-height : 8rem;