.main-navigation {
	// clear: both;
	// display: block;
	// float: left;
	// width: 100%;


	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		margin-left: 1rem;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
	@include clearfix;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.hamburger-line {
	display: block;
	position: absolute;
	background: #000;
	width: 35px;
	height: 5px;
	outline: none;
	transition: all 500ms ease-in-out;
}

.menu-toggle {
	position: relative;
	@include clearfix;
	width: 35px;
	height: 50px;
	padding: 0;
	border: none;
	background: transparent;
	&:hover, &:active, &:focus {
		background: transparent;
		box-shadow: none;
	}
	box-shadow: none;
	cursor: pointer;
	outline: none;
	margin-top: 37px;
	span {
		@extend .hamburger-line;
		&:after {
			@extend .hamburger-line;
			content: '';
			top: -10px;
		}
		&:before {
			@extend .hamburger-line;
			content: '';
			bottom: -10px;
		}
	}

}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
		@include clearfix;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
// Toggled State
.main-navigation {
	transition: all 500ms ease-in-out;
}
.main-navigation.toggled {
	#primary-menu {
		padding: 3rem 0;
		position: absolute;
		width: 100%;
		left: 0;
		top: $header-height;
		background: darken($cd_background, 10%);

		li {
			text-align: center;
			width: 100%;
			line-height: 4;
			border-bottom: 1px solid darken( $cd_background, 12%);

			&:last-child {
				border: none;
			};
		}
	}

	.menu-toggle span {
		background-color: transparent;

		&:before {
			transform: rotate(-45deg);
			bottom: 0;
		}

		&:after {
			top: 0;
			transform: rotate(45deg);
		}
	}
}