$susy: (
    columns: 12,
    gutter-position: inside,
    math: fluid,
);

.wrapper {
    @include container( 1200px );
}

.site-branding {
    @include span(4 of 12);
}

.main-navigation {
    // @include span(8 of 12 last);
    float: right;
    line-height: 90px;
}

.site {

    @include container();
    margin-left: gutter(1);
    margin-right: gutter(1);

    @include breakpoint($screen-large) {
        @include container(1140px);
    }
}

.content-area {
    @include breakpoint($screen-large) {
        @include span(8 of 12);
    }
}

aside.widget-area {
    @include breakpoint($screen-large) {
        @include span(4 of 12 last);
    }
}