/*
* ------------------
*  COLORS
*  -----------------
*/

$background-color: darken(#34383B, 10%);
$accent-color: #A1A783;
$text-color: #34383B;
$link-color:  #565656;


/*
* ------------------
*  Spacing
*  -----------------
*/

$default-margin: 2rem;
$default-padding: 2rem;

$header-height: 8rem;